<!-- Search component HTML -->

<div class = "container">
  <div class="row row-sm mg-t-20">
    <div class="col-lg-12">
      <div class="section-wrapper">
      <label class="section-title">Search SteerShare</label>
      <p class="mg-b-20 mg-sm-b-40">Innovation to Travel.</p>
      <form>
      <div class="form-layout form-layout-4">
        <div class="row">
          <label class="col-sm-4 form-control-label">From : <span class="tx-danger">*</span></label>
          <div class="col-sm-8 mg-t-10 mg-sm-t-0">
            <!--<input type="text" class="form-control" placeholder="Enter Start Destination">-->
            <AutocompleteComponent  (setAddress)="getAddress($event)" adressType="geocode"></AutocompleteComponent>
          </div>
        </div><!-- row -->
        <div class="row mg-t-20">
          <label class="col-sm-4 form-control-label">To : <span class="tx-danger">*</span></label>
          <div class="col-sm-8 mg-t-10 mg-sm-t-0">
            <AutocompleteComponent  (setAddress)="getEstablishmentAddress($event)"  adressType="geocode"></AutocompleteComponent>
          </div>
        </div>
        <div class="row mg-t-20">
          <label class="col-sm-4 form-control-label">Date of Travel <span class="tx-danger">*</span></label>
          <div class="col-sm-8 mg-t-10 mg-sm-t-0">
            <input id="date" type="date" class="form-control" [min]="currentDate" name="Date" selected="currentDate">
          </div>
        </div>
        <div class="row mg-t-20">
          <label class="col-sm-4 form-control-label">Time <span class="tx-danger">*</span></label>
          <div class="col-sm-8 mg-t-10 mg-sm-t-0">
            <select name="time" id="time" class="form-control">
              <option value="00:00">12.00 AM</option>
              <option value="00:30">12.30 AM</option>
              <option value="01:00">01.00 AM</option>
              <option value="01:30">01.30 AM</option>
              <option value="02:00">02.00 AM</option>
              <option value="02:30">02.30 AM</option>
              <option value="03:00">03.00 AM</option>
              <option value="03:30">03.30 AM</option>
              <option value="04:00">04.00 AM</option>
              <option value="04:30">04.30 AM</option>
              <option value="05:00">05.00 AM</option>
              <option value="05:30">05.30 AM</option>
              <option value="06:00">06.00 AM</option>
              <option value="06:30">06.30 AM</option>
              <option value="07:00">07.00 AM</option>
              <option value="07:30">07.30 AM</option>
              <option value="08:00" selected="">08.00 AM</option>
              <option value="08:30">08.30 AM</option>
              <option value="09:00">09.00 AM</option>
              <option value="09:30">09.30 AM</option>
              <option value="10:00">10.00 AM</option>
              <option value="10:30">10.30 AM</option>
              <option value="11:00">11.00 AM</option>
              <option value="11:30">11.30 AM</option>
              <option value="12:00">12.00 PM</option>
              <option value="12:30">12.30 PM</option>
              <option value="13:00">01.00 PM</option>
              <option value="13:30">01.30 PM</option>
              <option value="14:00">02.00 PM</option>
              <option value="14:30">02.30 PM</option>
              <option value="15:00">03.00 PM</option>
              <option value="15:30">03.30 PM</option>
              <option value="16:00">04.00 PM</option>
              <option value="16:30">04.30 PM</option>
              <option value="17:00">05.00 PM</option>
              <option value="17:30">05.30 PM</option>
              <option value="18:00">06.00 PM</option>
              <option value="18:30">06.30 PM</option>
              <option value="19:00">07.00 PM</option>
              <option value="19:30">07.30 PM</option>
              <option value="20:00">08.00 PM</option>
              <option value="20:30">08.30 PM</option>
              <option value="21:00">09.00 PM</option>
              <option value="21:30">09.30 PM</option>
              <option value="22:00">10.00 PM</option>
              <option value="22:30">10.30 PM</option>
              <option value="23:00">11.00 PM</option>
              <option value="23:30">11.30 PM</option>
            </select>
          </div>
        </div>
        <div class="form-layout-footer mg-t-30">
          <button class="btn btn-primary bd-0" (click)="validate($event)">Search SteerShare</button>
          <button class="btn btn-secondary bd-0" routerLink="">Cancel</button>
        </div><!-- form-layout-footer -->
      </div><!-- form-layout -->
      </form>
    </div><!-- section-wrapper -->
  </div><!-- col-6 -->
</div>
