<div class = "container">
  <div class="row row-sm mg-t-20">
    <div class="col-lg-12">
      <div class="section-wrapper">
        <div class="manager-wrapper">
          <div class="manager-right">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="tx-inverse mg-b-15">Welcome back to SteerShare !!</h3>
                <br>
                <div class="media media-demo">
                  <img src="assets/img/steersharelogo.png" class="media-img-demo align-self-center" alt="Image">
                  <div class="media-body mg-t-20 mg-sm-t-0">
                    <p>We are excited to launch our new company and product. After being featured in too many magazines to mention and having created an online stir, we know that SteerShare is going to be big. </p>
                    <p class="mg-b-0">We also hope to win Startup Fictional Business of the Year this year.</p>
                  </div><!-- media-body -->
                </div><!-- media -->
                <br><br>
              </div><!-- col-6 -->
            </div><!-- row -->
            <br><br>
            <h6 class="slim-card-title mg-b-15">Meet Our Team</h6>
            <br>
              <div class="row row-sm">
              <div class="col-sm-6 col-lg-3">
                <div class="card-contact">
                  <div class="tx-center">
                    <a href="#"><img src="assets/img/jiachen.jpg" class="card-img" alt=""></a>
                    <h5 class="mg-t-10 mg-b-5"><a href="#" class="contact-name">Jiachen Yu</a></h5>
                    <p>Innovator</p>
                    <p class="contact-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google"></i></a>
                    </p>
                  </div><!-- tx-center -->

                  <p class="contact-item">
                    <span>Phone:</span>
                    <span>+1 012 3456 789</span>
                  </p><!-- contact-item -->
                  <p class="contact-item">
                    <span>Email:</span>
                    <a href="#">yu.jiac@husky.neu.edu</a>
                  </p><!-- contact-item -->
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-sm-6 col-lg-3 mg-t-20 mg-sm-t-0">
                <div class="card-contact">
                  <div class="tx-center">
                    <a href="#"><img src="assets/img/viraj.jpeg" class="card-img" alt=""></a>
                    <h5 class="mg-t-10 mg-b-5"><a href="#" class="contact-name">Viraj Rajopadhye</a></h5>
                    <p>Innovator</p>
                    <p class="contact-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google"></i></a>
                    </p>
                  </div><!-- tx-center -->

                  <p class="contact-item">
                    <span>Phone:</span>
                    <span>+1 012 3456 789</span>
                  </p><!-- contact-item -->
                  <p class="contact-item">
                    <span>Email:</span>
                    <a href="#">rajopadhye.v@husky.neu.edu</a>
                  </p><!-- contact-item -->
                </div><!-- card -->
              </div><!-- col -->
              <div class="col-sm-6 col-lg-3 mg-t-20 mg-lg-t-0">
                <div class="card-contact">
                  <div class="tx-center">
                    <a href="#"><img src="assets/img/harshit.jpg" class="card-img" alt=""></a>
                    <h5 class="mg-t-10 mg-b-5"><a href="#" class="contact-name">Harshit Mandada</a></h5>
                    <p>Innovator</p>
                    <p class="contact-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google"></i></a>
                    </p>
                  </div><!-- tx-center -->

                  <p class="contact-item">
                    <span>Phone:</span>
                    <span>+1 012 3456 789</span>
                  </p><!-- contact-item -->
                  <p class="contact-item">
                    <span>Email:</span>
                    <a href="#">mandada.h@husky.neu.edu</a>
                  </p><!-- contact-item -->
                </div><!-- card -->
              </div><!-- col -->
                <div class="col-sm-6 col-lg-3 mg-t-0">
                <div class="card-contact">
                  <div class="tx-center">
                    <a href="#"><img src="assets/img/Demo_DP.jpeg" class="card-img" alt=""></a>
                    <h5 class="mg-t-10 mg-b-5"><a href="#" class="contact-name">Priyam Modi</a></h5>
                    <p>Innovator</p>
                    <p class="contact-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google"></i></a>
                    </p>
                  </div><!-- tx-center -->

                  <p class="contact-item">
                    <span>Phone:</span>
                    <span>+1 012 3456 789</span>
                  </p><!-- contact-item -->
                  <p class="contact-item">
                    <span>Email:</span>
                    <a href="#">modi.pri@husky.neu.edu</a>
                  </p><!-- contact-item -->
                </div><!-- card -->
              </div><!-- col -->
            </div><!-- row -->
          </div><!-- manager-left -->
        </div><!-- manager-wrapper -->
        <br><br>
        <h6 class="slim-card-title mg-b-15">Contact Us</h6>
        <div class="row row-sm mg-t-20">
          <div class="col-lg-12">
            <div class="section-wrapper">
              <label class="section-title">CAN WE HELP YOU ?</label>
              <p class="mg-b-20 mg-sm-b-40">Innovation to Travel.</p>
              <br>
              <div class="form-layout form-layout-4">
                <div class="row">
                  <label class="col-sm-4 form-control-label">Firstname: <span class="tx-danger">*</span></label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                    <input type="text" class="form-control" placeholder="Enter firstname">
                  </div>
                </div><!-- row -->
                <div class="row mg-t-20">
                  <label class="col-sm-4 form-control-label">Lastname: <span class="tx-danger">*</span></label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                    <input type="text" class="form-control" placeholder="Enter lastname">
                  </div>
                </div>
                <div class="row mg-t-20">
                  <label class="col-sm-4 form-control-label">Email: <span class="tx-danger">*</span></label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                    <input type="text" class="form-control" placeholder="Enter email address">
                  </div>
                </div>
                <div class="row mg-t-20">
                  <label class="col-sm-4 form-control-label">Query: <span class="tx-danger">*</span></label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                    <textarea rows="2" class="form-control" placeholder="Enter your Query"></textarea>
                  </div>
                </div>
                <div class="form-layout-footer mg-t-30">
                  <button class="btn btn-primary bd-0">Submit Form</button>
                </div><!-- form-layout-footer -->
              </div><!-- form-layout -->
            </div><!-- section-wrapper -->
          </div><!-- col-6 -->
        </div><!-- row -->
      </div><!-- row -->
      </div>
    </div>
  </div>
